:root {
  --font60: 60px;
  --font48: 48px;
  --font42: 42px;
  --font40: 40px;
  --font32: 32px;
  --font30: 30px;
  --font26: 26px;
  --font24: 24px;
  --font22: 22px;
  --font20: 20px;
  --font18: 18px;
  --font16: 16px;
  --font14: 14px;
}

html{
  background-color: aliceblue;
  height: 100%;
  /* scroll-behavior: smooth; */
}

body {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: .35s;
  height: 100%;
  width: auto;
  margin: 0;
}

.accueil{
  height: calc(100vh - 90px); 
  /* scroll-margin-top: 108px; */
  display: flex;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
  width: auto;
}

.image-container img {
  max-width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.image-container {
  margin-top: 108px;
  max-width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  animation: showFromLeft 1s forwards;
}

@keyframes showFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.accueil-container{
  top: 0;
  right: 0;
  margin-top: 108px;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-text-stroke: thin;
}

.accueil-container .apparition-droite {
  opacity: 0;
  transform: translateX(100%);
  animation: slideFromRight 1s forwards;
}

@keyframes slideFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-accueil{
  width: 93%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%)
  /* border: 2px solid black; */
}

.arrow {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

/* Navbar */

.navbar-sec.fixed-nav .navbar-container {
  width: 108px;
}

.navbar-sec.fixed-nav .navbar {
  width: 72px;
  border-radius: 36px;
  box-shadow: 2px 2px 5px #D9D9D9;
}

body.black .navbar-sec.fixed-nav .navbar {
  box-shadow: none;
}

.navbar-sec.fixed-nav .navbar .navbar-gauche p {
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
}

.navbar-sec.fixed-nav .navbar .navbar-centre ul li {
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
}

.navbar-sec.fixed-nav .navbar .navbar-droite .nav-get-started a {
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
}

.navbar-sec.fixed-nav .navbar .menu-lateral {
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out .3s;
}

.navbar-sec.fixed-nav .navbar-container.clicked {
  width: 100%;
}

.navbar-sec.fixed-nav .navbar-container.clicked .navbar {
  width: 100%;
  border-radius: 32px;
  box-shadow: 0 15px 25px rgb(51 51 51 / 15%), 0 2px 10px rgb(0 0 0 / 35%);
}

.navbar-sec.fixed-nav .navbar-container.clicked .navbar .navbar-gauche p {
  opacity: 1;
  transform: translateX(40px);
  visibility: visible;
  transition: .2s ease-in-out .3s;
}

.navbar-sec.fixed-nav .navbar-container.clicked .navbar .navbar-centre ul li {
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out .3s;
}

.navbar-sec.fixed-nav .navbar-container.clicked .navbar .navbar-droite .nav-get-started a {
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out .3s;
}

.navbar-sec {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  box-sizing: border-box;
  position: absolute;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 18px 18px 0;
  z-index: 998;
  transition: .5s ease-in-out;
  /* background-color: #f9f0fe; */
}

.navbar {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-shadow: 0 15px 25px rgb(51 51 51 / 15%), 0 2px 10px rgb(0 0 0 / 35%);
  /* box-shadow: 15px 15px 30px #D9D9D9, -15px -15px 30px #FFFFFF; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;
  transition: .5s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: #232323;
}

.navbar .menu-lateral {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  border-radius: 36px;
  background-color: transparent;
  justify-content: center;
  font-size: var(--font24);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

.navbar .navbar-gauche {
  flex-basis: 25%;
  width: 25%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navbar .navbar-gauche p {
  padding-left: 25px;
  font-weight: 600;
  font-size: var(--font24);
  color: #232323;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  /* transition: .2s ease-in-out .3s; */
  font-size: var(--font24);
}

.navbar .navbar-gauche p span {
  color: darkcyan;
}

.navbar .navbar-centre {
  flex-basis: 50%;
  width: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.navbar .navbar-centre ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar .navbar-centre ul li {
  display: inline-block;
  font-size: var(--font16);
  font-weight: 600;
  margin: 20px;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out .3s;
}

.navbar .navbar-centre ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: darkcyan;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.navbar .navbar-centre ul li:hover::before {
  visibility: visible;
  opacity: .5;
}

.navbar .navbar-centre ul li a {
  text-decoration: none;
  color: #232323;
  font-size: var(--font16);
}

.navbar .navbar-droite {
  flex-basis: 25%;
  background-color: #FFFFFF;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.navbar .navbar-droite .menu-lateral-mobile {
  display: none;
}

.navbar .navbar-droite .menu-lateral-mobile-burger, .navbar .navbar-droite .nav-get-started {
  padding-right: 25px;
}

.navbar .navbar-droite .menu-lateral-mobile-burger i {
  font-size: var(--font24);
  color: #232323;
  display: inline-block;
  margin-top: 2px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.navbar .navbar-droite .nav-get-started a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 20px;
  font-size: var(--font16);
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: color .5s, background-color .5s, transform .125s ease-out, opacity .2s ease-in-out .3s, visibility .2s ease-in-out .3s;
}

.navbar .navbar-droite .nav-get-started a:hover {
  color: #fff;
  background-color: darkcyan;
}

/* Parcours */

.parcours{
  height: 100vh;
  margin-top: 200px;
  display: grid;
  place-items: center;
  opacity: 0; /* Masquer initialement les fieldsets */
}

.parcours.show {
  opacity: 1; /* Afficher les fieldsets avec une animation */
  transition: opacity 1s ease-in-out;
}

.parcours fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  margin-bottom: 45px;
  width: 92%;
}

.parcours fieldset:last-child {
  margin-bottom: 0; /* Supprime l'espace après le dernier fieldset */
}

.parcours fieldset legend {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
}

/* Projets */

.projets{
  height: 100vh;
  margin-top: 108px;
  /* scroll-margin-top: 108px; */
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projets .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projets .swiper-slide {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  padding: 15px;
  height: 50vh;
  width: 360px;
  background:white;
  box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.4);
  filter: blur(3px);
  border-radius: 10px;
  box-sizing: border-box;
}

.projets .swiper-slide.img{
  box-shadow: none;
}

.projets .swiper-slide img{
  width: 100%;
}

.projets .swiper-slide-active{
  filter: blur(0px);
}

.projets .swiper-slide {
  height: auto;
  position: relative;
  overflow: hidden; 
}

.projets fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  margin-bottom: 45px;
  width: 92%;
  height: 100%;
}

.projets fieldset:last-child {
  margin-bottom: 0; /* Supprime l'espace après le dernier fieldset */
}

.projets fieldset legend {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
}

.projets fieldset legend{
  font-size: var(--font24);
}

.projets fieldset p{
  font-size: var(--font18);
  margin: 0px 0px 5px;
}

.projets .entete-swiper{
  display: flex;
  position: relative;
  width: auto;
  padding: 10px;
  align-items: center;
}

.projets .entete-swiper .content p{
  font-size: var(--font24);
}

.projets .swiper-image-container img{
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  border: #000 solid;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow: auto;
  display: none;
  border-radius: 10px;
  pointer-events: auto;
}

.modal.open {
  display: block;
  width: 90%;
  height: 90%;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content p{
  font-size: var(--font24);
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 4px rgb(0 0 0 / 4%);
  border: #000 solid;
}

.close-icon i {
  color: black;
  font-size: 20px;
}

/* Styles supplémentaires pour l'icône du modal */
.open-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
}

.open-icon .circle {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 4px rgb(0 0 0 / 4%);
  border: #000 solid;
}

.open-icon .circle i {
  color: #000000;
}

/* Masquer la barre de défilement de la page principale lorsque le modal est ouvert */
body.modal-open {
  overflow: hidden;
  pointer-events: none;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; 
  opacity: 0.5; 
  z-index: 9998; /* Assurer que le fond soit positionné en dessous de la modal (z-index inférieur) */
  display: none; /* Masquer initialement le fond */
}

.modal-open .dark-overlay {
  display: block; /* Afficher le fond lorsque la classe modal-open est présente sur le body */
  pointer-events: none;
}

.hidden-content { 
  display: none; 
}

.entete-modal{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1; /* Afficher la div au dessus du contenu */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 0px 20px 0px 20px;
}

.contenu-modal{
  margin-top: 20px;
  padding: 20px;
}

.contenu-modal fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  margin-bottom: 45px;
  width: auto;
}

.contenu-modal fieldset p{
  margin: 0;
  margin-bottom: 5px;
}

.contenu-modal fieldset:last-child {
  margin-bottom: 0; /* Supprime l'espace après le dernier fieldset */
}

.contenu-modal fieldset legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  text-decoration: none;
}

.contenu-modal .fieldset-image{
  display: inline-grid;
}

.contenu-modal p {
  font-size: var(--font22);
  word-wrap: break-word;
}

.contenu-modal legend{
  text-decoration: underline;
  font-size: var(--font24);
}

.logo-modal{
  max-height: 100px;
}

.contenu-modal .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.contenu-modal .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%
}
.contenu-modal .swiper-slide {
  background-size: cover;
  background-position: center;
}

.contenu-modal .swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

.contenu-modal .mySwiper2 {
  height: 80%;
  width: 100%;
}

.contenu-modal .mySwiper {
  height: 100%; 
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;
}

.contenu-modal .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}


.contenu-modal .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.contenu-modal .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border: #000 1.5px solid;
}

.contenu-modal .swiper {
  width: 100%;
  height: auto; 
}

.contenu-modal .swiper-slide {
  width: auto; 
}

/* Compétences */

.competences{
  height: 90vh;
  margin-top: 108px;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  padding: 30px;
  /* scroll-margin-top: 108px; */
}

.competences h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.competences fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  margin-bottom: 45px;
  width: auto;
}

.competences fieldset legend {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
}

.competences ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.competences ul li {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 18px;
}

.competences ul li:last-child {
  margin-right: 0;
}

.competences .langages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.competences .langage {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.competences .langage img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.competences .langage span {
  font-size: 16px;
  font-weight: bold;
}

/* Veille */

.veille{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  flex-direction: column;
}

.veille fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
  width: auto;
  height: auto;
}

.veille fieldset legend {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 15px 35px rgb(51 51 51 / 15%), 0 2px 20px rgb(0 0 0 / 25%);
}

.competences fieldset p{
  margin: 0;
  padding: 10px;
}

.veille ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.veille ul li {
  width: calc(33% - 20px);
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  border: #000 1px solid;
}

.veille ul li:last-child {
  margin-right: 0;
}

/* Contact */

.contact{
  height: 100vh;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
}

.container-form .row {
  width: 100%;
  margin-bottom: 10px;
}

.container-form .row .col {
  flex: 1;
  margin-right: 10px;
}

.container-form .row .col:last-child {
  margin-right: 0;
}

.container-form form {
  width: 100%;
}

.container-form input,
.container-form textarea{
  width: 100%;
  box-sizing: border-box;
}

/* Footer */

footer{
	position:static;
	background-color : white;
  width: 100%;
	bottom: 0;
  box-sizing: border-box;
  padding: 20px;
}

.pied{
	display: flex;
	width: 100%;
}

#ppg{
	width: 50%;
	text-align: left;
}

#centre{
	width:33%;
	text-align: center;
}

#droite{
	width: 33%;
	text-align: right;
}

#gauche{
	width: 33%;
	text-align: left;
}

@media screen and (max-width: 990px) {
  :root {
      --font60-landing: 36px;
      --font60: 36px;
      --font48: 34px;
      --font42: 32px;
      --font40: 30px;
      --font32: 28px;
      --font30: 26px;
      --font26: 24px;
      --font24: 22px;
      --font20: 18px;
      --font18: 17px;
      --font16: 16px;
      --font14: 14px;
  }
  .navbar-container {
      padding: 0;
      transition: .5s ease-in-out;
      position: fixed;
  }
  .navbar-container.opened {
      height: 100vh;
  }
  .navbar {
      border-radius: 0;
      flex-wrap: wrap;
      align-content: flex-start;
      box-shadow: 15px 15px 30px #D9D9D9, -15px -15px 30px #FFFFFF;
  }
  body.black .navbar {
      box-shadow: none;
  }
  .navbar .navbar-gauche, .navbar .navbar-droite {
      flex-basis: 50%;
      width: 50%;
      height: 90px;
  }
  .navbar .navbar-gauche p {
    padding-left: 25px;
    font-weight: 600;
    font-size: var(--font24);
    color: #232323;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    font-size: var(--font24);
  }
  .navbar .navbar-centre {
      height: fit-content;
      height: -moz-fit-content;
      border-top: .5px solid #1a1a1a26;
      justify-content: flex-start;
  }
  .navbar .navbar-centre ul {
      padding-left: 25px;
      flex-direction: column;
  }
  .navbar .navbar-centre ul li {
      margin: 20px 0 0;
      display: block;
      font-size: var(--font24);
  }
  .navbar .navbar-centre ul li a {
    text-decoration: none;
    color: #232323;
    font-size: var(--font24);
  }
  .navbar .navbar-droite .menu-lateral-mobile {
      display: block;
  }
  .navbar .navbar-droite .nav-get-started {
      display: none;
  }
  .navbar .navbar-centre {
      order: 3;
      flex-basis: 100%;
      width: auto;
  }
  .navbar-container.opened .navbar .mobile-bottom-contact {
      visibility: visible;
      opacity: 1;
  }

  .accueil{
    flex-direction: column;
    height: auto;
    padding-right: inherit;
    display: flex;
    align-items: center;
    height: auto;
  }

  .parcours{
    height: auto;
  }
  
  .parcours fieldset {
    width: 80%;
  }

  .projets{
    height: auto;
  }

  .competences{
    height: auto;
  }

  .competences ul li {
    width: calc(100%);
}

  .veille{
    height: auto;
  }

  .veille ul li {
    width: -webkit-fill-available;
  }

  .accueil-container{
    max-width: 95%;
  }

  .image-container{
    max-width: 100%;
    margin-top: 150px;
  }

  .arrow {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    border-top: none;
  }

  .modal.open {
    width: 94%;
  }

  .veille{
    flex-direction: column;
  }

  .veille fieldset{
    width: auto;
    margin-bottom: 50px;
  }

  .veille fieldset:last-child {
    margin-bottom: 0; /* Supprime l'espace après le dernier fieldset */
  }
  
}

@media screen and (max-width: 767.98px) {
  .mobile-text-center {
      text-align: center;
  }
}

/* Css bulles de discussions */

.message-container {
  display: flex;
  flex-direction: column;
}

.message-bubble {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  max-width: 70%;
  margin-bottom: 10px;
}

.outgoing {
  align-self: flex-end;
  background-color: #DCF8C6;
}

.incoming {
  align-self: flex-start;
  background-color: #FFFFFF;
}

.message-text {
  color: #333333;
}